<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Inloggen')}"></head>
<body>
<header th:replace="~{fragments/layout :: header}"></header>

<main class="container smal">
    <div class="kaart kaart-inhoud mt">
        <h1>Inloggen</h1>
        <div th:replace="~{fragments/layout :: meldingen}"></div>
        <div class="melding melding-fout" th:if="${param.fout}" role="alert">
            Onjuist e-mailadres of wachtwoord, of je account is geblokkeerd.
        </div>
        <form th:action="@{/login}" method="post" class="formulier">
            <div class="veld">
                <label for="email">E-mailadres</label>
                <input type="email" id="email" name="email" required autofocus autocomplete="username">
            </div>
            <div class="veld">
                <label for="wachtwoord">Wachtwoord</label>
                <input type="password" id="wachtwoord" name="wachtwoord" required autocomplete="current-password">
            </div>
            <button type="submit" class="knop knop-blok">Inloggen</button>
        </form>
        <p class="klein zacht mt">
            Nog geen account? <a th:href="@{/registreren}">Registreer als klant</a>
            of <a th:href="@{/registreren/ondernemer}">open je winkel als ondernemer</a>.
        </p>
    </div>
</main>

<footer th:replace="~{fragments/layout :: footer}"></footer>
</body>
</html>
